<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Recommendation restaurant for you">
    <meta name="theme-color" content="#FCB823"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <!-- favicon  -->
    <link rel="icon" href="favicon.png">
    <!-- icon  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <!-- font google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>annakshetra</title>
  </head>
  <body>
  <a href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header class="app-bar">
    <div class="app-bar__brand">
      <h1>annakshetra</h1>
    </div>
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://github.com/aufaahusniati" target="_blank">About Us</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent" tabindex="0"></main>
  <footer>
    <p>Copyright © 2024 - annakshetra</p>
  </footer>
  </body>
</html>

