* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
}

/*
  AppBar
*/

.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcb823;
  color: #962824;
  font-weight: 700;
  font-size: 1em;
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
  padding-left: 90%;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: #962824;
  font-size: 22px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: #fcb823;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  transition: all 0.2s ease-in-out;
  min-width: 44px;
  min-height: 44px;
}

/*
  Main Content
*/

main {
  padding: 32px;
  flex: 1;
}

.content {
  margin: 0 auto;
  min-height: 100%;
}

.content .content__heading {
  font-weight: normal;
}

/*
 * Explore
 */
.explore {
  text-align: center;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 9rem;
  padding-top: 2em;
  color: #962824;
}



/*
  restaurants
*/

.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 32px 0;
}

/*
  restaurant Item
*/

.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant-item__header {
  position: relative;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
  width: 100%;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  right: 0;
  display: inline-block;
  background-color: #962824;
  border: none;
  border-radius: 50%;
  color: white;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
  margin-right: 10px;
}

.restaurant-item .restaurant-item__content {
  padding: 16px;
}

.restaurant-item .restaurant-item__content h3 {
  margin: 0 0 10px 0;
  text-align: center;
  font-weight: 700;
}

.restaurant-item .restaurant-item__content h3 a {
  color: black;
  text-decoration: none;
  display: inline-block;
  min-width: 44px;
  min-height: 44px;
}

.restaurant-item .restaurant-item__content p {
  color: #6c757d;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

/*
Detail
*/
.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}

.restaurant .restaurant__poster {
  width: 100%;
  max-width: 400px;
}

.restaurant .restaurant__info h4 {
  margin: 8px 0;
}


.restaurant__title {
  text-align: center;
  font-size: 2em;
  padding-bottom: 0.5em;
}

.restaurant-label {
  padding-top: 2em;
  font-size: 1.2em;
}

.menus li {
  display: inline-block;
  padding: 0 25px;
  margin: 16px 0 0 0;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  border-radius: 5px;
  background-color: #f1f1f1;
  transition: 0.3s;
}

/*
Detail
Review
*/
.review {
  display: block;
  padding: 25px;
  margin: 25px 0 0 0;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.review-label {
  padding-top: 2em;
  font-size: 1.2em;
}

.name-review {
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 3px;
}

.date-review {
  font-size: 0.7em;
  padding-bottom: 1em;
  color: #B4B4B8;
}

.description-review {
  font-size: 0.9em;
}


#review-form {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #962824;
  border-radius: 8px;
  width: 63%;
  margin-left: auto;
  margin-right: auto;
}

#review-form h3 {
  font-size: 1.5em;
  margin-bottom: 12px;
  text-align: center;
}

#review-form input[type='text'] {
  width: 100%;
  font-size: 15px;
  min-width: 44px;
  min-height: 44px;
}

#review-form button {
  font-size: 1em;
  padding: 10px 21px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;
  background-color: #962824;
}

#review-form button:hover {
  background-color: #fcb823;
}

/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

/*
 * footer
 */
footer {
  padding: 10px;
  background-color: #962824;
}

footer p {
  text-align: center;
  color: white;
}